<% if (message && message !="" ) { %>
    <script>
        Swal.fire({
            icon: 'success',
            title: '<%= message %>',
            showConfirmButton: false,
            timer: 2000 // Message will disappear after 2 seconds
        });
    </script>
    <% } %>

        <% if (locals.error && error !="" ) { %>
            <div class="alert alert-danger">
                <%=error%>
            </div>
            <% } %>