<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="logo"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/product">Home</a>
                </li>
                <% if (User && User.role==='merchant' ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">Categories</a>
                    </li>
                    <% } %>

                        <!-- Ø¥Ø¸Ù‡Ø§Ø± Ø±Ø§Ø¨Ø· "Ø¥Ø¶Ø§ÙØ© Ù…Ù†ØªØ¬Ø§Øª" ÙÙ‚Ø· Ø¥Ø°Ø§ ÙƒØ§Ù† Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù… ØªØ§Ø¬Ø± -->
                        <% if (User && User.role==='merchant' ) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/createProduct">Add New Products</a>
                            </li>
                            <% } %>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-lg-4">
                <% if (User) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cart">
                            ðŸ›’ (
                            <%= cart.length %>
                                )
                        </a>
                    </li>
                    <% } %>
            </ul>



            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-lg-4">
                <% if (!User) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/login">Sign in</a>
                    </li>
                    <% } else { %>
                        <% if (User) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="<%= '/images/'+ User.avatar  %>" alt="avatar" class="rounded-circle"
                                        style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;"
                                        onerror="this.onerror=null; this.src='/images/default-avatar.png';">
                                    <%= User ? User.name : 'Guest' %>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                                </ul>
                            </li>
                            <% }} %>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>