<%- include('../partails/header') -%>
    <%- include('../partails/navbar') -%>
        <h1>Contact AAR Sport Equipment</h1>
        <p>Feel free to reach out to us for any inquiries or assistance.</p>
        <ul>
            <li><strong>Email:</strong> contact@aarsport.com</li>
            <li><strong>Phone:</strong> +123-456-7890</li>
            <li><strong>Address:</strong> 123 AAR Sport Street, City, Country</li>
        </ul>
        <h3>Our Customer Service Team is ready to assist you!</h3>
        <%- include('../partails/footer') -%>